<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TimeTracking.Properties.Settings.ExampleConnectionString"
      connectionString="Data Source=|DataDirectory|\Example.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
  <appSettings>
    <add key="PomodoroTime" value="25" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>